:root {
    --radius: .3125em;
    --padding: .625em;
    --teal: #00CAB5;
    --off-white: #F3F3F3;
    --yellow: #FFCE00;
    --blue: #0085CA;
    --black: #171717;
    --alt-black: #313131;
    --font-1: 'Roboto', san-serif;
    --font-weight-heavy: 900;
    --font-weight-light: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

div {
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button:first-child {
  align-self: flex-end;
}

button:first-child {
  order: 1;
}

/* Add your flexbox CSS below here */
