:root {
    --radius: .3125em;
    --padding: .625em;
    --teal: #00CAB5;
    --off-white: #F3F3F3;
    --yellow: #FFCE00;
    --blue: #0085CA;
    --black: #171717;
    --alt-black: #313131;
    --font-1: 'Roboto', san-serif;
    --font-weight-heavy: 900;
    --font-weight-light: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;

}

header {
    background: purple;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: aqua;    
    flex: 200px;
  }

  section {
    display: flex;
    flex-flow: row wrap;
  }


  /* Add your flexbox CSS below here */